<section class="text-white bg-gray-900">
    <div class="max-w-screen-xl px-4 py-6 mx-auto lg:items-center lg:flex">

    </div>
</section>

<section class="text-white bg-gray-800 grid">

    <h2 class="text-2xl font-bold sm:text-4xl text-center mt-16">Little about us</h2>
    <p class="text-sm italic text-center mt-2">We're not that little..</p>

    <div class="max-w-screen-xl px-4 py-24 mx-auto lg:items-center lg:flex">
    <%# Person profile %>
        <a class="block overflow-hidden group mx-10" href="/products/basic-tee">
            <div class="shadow-[0_4px_0_0_rgba(0,0,0,1)] border-2 border-black rounded-3xl overflow-hidden">
                <img
                class="group-hover:scale-105 transition-transform duration-500  h-full w-[125px] sm:h-[145px]"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Ralph_Macchio_2018.jpg/640px-Ralph_Macchio_2018.jpg"
                />
            </div>

            <div class="relative pt-4">
                <h3 class="text-sm group-hover:underline group-hover:underline-offset-4">
                Jace Walker
                </h3>

                <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="font-medium tracking-wider">
                    Ruby Developer
                </span>
                </p>
            </div>
        </a>

        <%# Person profile %>
        <a class="block overflow-hidden group mx-10" href="/products/basic-tee">
            <div class="shadow-[0_4px_0_0_rgba(0,0,0,1)] border-2 border-black rounded-3xl overflow-hidden">
                <img
                class="group-hover:scale-105 transition-transform duration-500  h-full w-[125px] sm:h-[145px]"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Ralph_Macchio_2018.jpg/640px-Ralph_Macchio_2018.jpg"
                />
            </div>

            <div class="relative pt-4">
                <h3 class="text-sm group-hover:underline group-hover:underline-offset-4">
                Jay Gardiner
                </h3>

                <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="font-medium tracking-wider">
                    JS Developer
                </span>
                </p>
            </div>
        </a>

        <%# Person profile %>
        <a class="block overflow-hidden group mx-10" href="/products/basic-tee">
            <div class="shadow-[0_4px_0_0_rgba(0,0,0,1)] border-2 border-black rounded-3xl overflow-hidden">
                <img
                class="group-hover:scale-105 transition-transform duration-500  h-full w-[125px] sm:h-[145px]"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Ralph_Macchio_2018.jpg/640px-Ralph_Macchio_2018.jpg"
                />
            </div>

            <div class="relative pt-4">
                <h3 class="text-sm group-hover:underline group-hover:underline-offset-4">
               Nathan Gemmill
                </h3>

                <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="font-medium tracking-wider">
                    Go Developer
                </span>
                </p>
            </div>
        </a>

        <%# Person profile %>
        <a class="block overflow-hidden group mx-10" href="/products/basic-tee">
            <div class="shadow-[0_4px_0_0_rgba(0,0,0,1)] border-2 border-black rounded-3xl overflow-hidden">
                <img
                class="group-hover:scale-105 transition-transform duration-500  h-full w-[125px] sm:h-[145px]"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Ralph_Macchio_2018.jpg/640px-Ralph_Macchio_2018.jpg"
                />
            </div>

            <div class="relative pt-4">
                <h3 class="text-sm group-hover:underline group-hover:underline-offset-4">
               Barry
                </h3>

                <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="font-medium tracking-wider">
                    Ruby Wizard
                </span>
                </p>
            </div>
        </a>
    </div>
</section>